<ul class="social-media-list">
  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%}
  <li>
    <a href="https://gitlab.com/colivre/colivre-memorias"><img class="svg-icon" src="/img/git.svg"/> <span>Código fonte</span></a>
  </li>
</ul>
